---
import { getLangFromUrl, useTranslations } from "../i18n/utils.ts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title?: string;
  description?: string;
}

const { title = t("siteTitle"), description = t("siteDescription") } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/katex.min.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>